/* common style */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

:root {
    --titles: #19017a;
    --text: #27323a;
    --green: #016f19;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Montserrat Alternates", serif;
    color: var(--text);
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    transition: opacity 0.3s ease;
}

a:hover,
button:hover {
    opacity: 0.8;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid green;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

h2 {
    font-family: Montserrat Alternates;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: var(--titles);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="date"],
input[type="submit"],
input[type="number"],
input[type="time"],
textarea {
    -webkit-appearance: none;
    border-radius: 0;
    display: block;
    border: 2px solid #bfbfbf;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* common style end */