/* common style */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
  }

:root {
    --titles: #19017a;
    --text: #27323a;
    --green: #016f19;
    --orange: #ffb55f;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Montserrat Alternates", serif;
    color: var(--text);
    letter-spacing: 0.01em;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    transition: opacity 0.3s ease;
}

a:hover,
button:hover {
    opacity: 0.8;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    /*outline: 1px solid green;*/
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

h2 {
    font-family: Montserrat Alternates;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: var(--titles);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="date"],
input[type="submit"],
input[type="number"],
input[type="time"],
textarea {
    -webkit-appearance: none;
    border-radius: 0;
    display: block;
    border: 2px solid #bfbfbf;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

textarea {
    min-height: 150px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
}

.list_social {
    display: flex;
    justify-content: center;
}

.list_social .list__item {
    margin-right: 40px;
}

.list_social .list__item:last-child {
    margin-right: 0;
}

.list_social .social__link {
    display: block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* common style end */

/* header */
.header-page {
    padding: 20px 0;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contact-menu {
    display: flex;
    align-items: center;
}

.messengers {
    display: flex;
}

.messengers .messengers__item {
    width: 30px;
    height: 30px;
    margin-right: 27px;
    background-repeat: no-repeat;
    background-size: contain;
}

.messengers__item_whatsapp {
    background-image: url(./img/icons/contacts/icon-whatsapp.svg);
}

.messengers__item_viber {
    background-image: url(./img/icons/contacts/icon-viber.svg);
}

.messengers__item_telegram {
    background-image: url(./img/icons/contacts/icon-telegram.svg);
}

.phones_header {
    font-size: 14px;
    font-weight: 600;
    margin-left: 130px;
}

.phones_header a {
    color: var(--text);
}

.booking .phones__item {
    font-family: "Roboto";
    font-style: italic;
    font-size: 36px;
    line-height: 46px;
}

.phones_header .phones__item:first-child {
    margin-right: 20px;
}

.nav {
    margin-left: 60px;
}

.hamb {
    position: relative;
    width: 40px;
    height: 27px;
    padding: 0;
}

.hamb__line {
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--titles);
    border-radius: 4px;
}

.hamb__line:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--titles);
    border-radius: 4px;
}

.hamb__line:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--titles);
    border-radius: 4px;
}

.main-menu {
    display: none;
}

.close-menu {
    display: none;
}
/* header end*/

/* footer */
.footer-page {
    text-align: center;
    background: linear-gradient(
        180deg,
        rgba(207, 238, 252, 0) 0%,
        rgba(181, 228, 250, 0.32) 40.52%,
        rgba(157, 219, 248, 0.8) 99.48%
    );
}

.footer-page a {
    color: var(--text);
}

.footer-page h3,
.email-footer {
    font-size: 26px;
    font-weight: 400;
}

.email-footer,
.phohes_footer {
    margin-bottom: 70px;
}

.phohes_footer {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
}

.email-footer a {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
}

.social-title,
.phones-title {
    margin-bottom: 30px;
}

.footer-social {
    margin-bottom: 60px;
}

.footer-social .social__link_vk {
    background-image: url(./img/icons/social/footer/icon-vk-footer.svg);
}

.footer-social .social__link_facebook {
    background-image: url(./img/icons/social/footer/icon-facebook-footer.svg);
}

.footer-social .social__link_instagram {
    background-image: url(./img/icons/social/footer/icon-instagram-footer.svg);
}

.footer-social .social__link_twitter {
    background-image: url(./img/icons/social/footer/icon-twitter-footer.svg);
}

.footer-social .social__link_youtube {
    background-image: url(./img/icons/social/footer/icon-youtube-footer.svg);
}

.footer-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.footer-menu li {
    font-size: 22px;
    margin-right: 40px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    font-size: 12px;
    line-height: 14px;
}

.law {
    text-decoration: underline;
}

.law a:first-child {
    margin-right: 30px;
}

/* footer end*/

/* hero */
.hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 620px;
    text-align: center;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/bg-hero.jpg);
    background-position: center;
    margin-bottom: 20px;
}

.main-title {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 50px;
    /* letter-spacing: 0.01em; */
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.main-title span {
    font-weight: 500;
}
/* hero end */

/* block phones */
.phones-block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--titles);
    font-weight: bold;
    margin-bottom: 90px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.phones-block .phones__icon {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/icons/contacts/icon-phone.svg);
    margin: 0 10px;
}
/* block phones end */

/* FRONT-PAGE */

/*tabs */
.tabs {
    display: flex;
    align-items: center;
}

.tabs-header {
    width: 250px;
}

.tabs-header__item {
    display: block;
    font-family: "Montserrat Alternates";
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    /* letter-spacing: 0.01em; */
    color: var(--titles);
    margin-bottom: 60px;
}

.tabs-header__item:hover {
    color: rgba(25, 1, 122, 0.5);
}

.tabs-content {
    /* outline: 1px solid green; */
    flex: 1;
}

.tabs-content__title {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #ffffff;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--titles);
    margin-bottom: 30px;
}

.slider {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    outline: 1px solid tomato;
}

.slides-wrapper {
    position: relative;
    height: 300px;
    width: 100%;
}

.slider img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: auto;
    outline: 1px solid #ffb015;
}

.tabs-features {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs-features__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.tabs-features__item:last-child {
    margin-right: 0;
}

.tabs-features__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.tabs-features__text {
    font-size: 22px;
    line-height: 32px;
    color: #333333;
}

.slider__nav {
    display: flex;
    justify-content: center;
}

.slider__dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #cfeefc;
    border: 1px solid;
    border: 1px solid rgba(2, 134, 31, 0.8);
    margin-right: 15px;
}

.slider__dot:last-child {
    margin-right: 0;
}

.slider__dot.slider__dot_active {
    background: rgba(2, 134, 31, 0.8);
}

/*tabs end */

/* rates */
.rates {
    margin-bottom: 90px;
}

.rates .title-section {
    text-align: left;
}

.rates .routs__link {
    font-weight: bold;
}
/* rates end*/

/* services */
.servises {
    margin-bottom: 90px;
}

.servises .sub-title {
    display: none;
}

.wrapper-list-services {
    display: flex;
}

.wrapper-list-services .wrapper__item {
    width: 50%;
}

.wrapper__item:first-child {
    margin-right: 30px;
}
.wrapper-list-services .list__item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 35px;
    font-size: 26px;
    line-height: 36px;
}

.wrapper-list-services .list__item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/icons/icon-list-marker.svg);
}
/* services end */

/* booking */
.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/bg-booking-front.jpg);
    padding: 40px 15px;
    margin-bottom: 90px;
}

.booking p {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    /* letter-spacing: 0.01em; */
    color: #ffffff;
    margin-bottom: 40px;
}

.booking a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: underline;
}

.order-btn {
    padding: 11px 43px 11px 15px;
    border: 2px solid var(--green);
    color: rgba(2, 134, 31, 0.8);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url(./img/icons/icon-btn-booking.svg);
    background-position: right 12px center;
    font-weight: bold;
    font-size: 20px;
    font-family: "Montserrat Alternates", serif;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
}
/* booking end*/

/* features */
.features {
    margin-bottom: 90px;
}

.list_features {
    display: flex;
}

.features .list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 4 - 25px);
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.features__icon {
    margin-bottom: 40px;
}

.features__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
    color: var(--titles);
    /* letter-spacing: 0.01em; */
}



.list__desc {
    font-size: 22px;
    line-height: 42px;
    font-family: "Open Sans";
    letter-spacing: 0.02em;
}
/* features end*/

/* routs */

.routs {
    padding-bottom: 55px;
}

.list_routs {
    display: flex;
    flex-wrap: wrap;
}

.list_routs .list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: calc(100% / 3 - 30px);
    min-height: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

.routs__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.routs__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(70, 70, 70, 0.5), rgba(70, 70, 70, 0.5));
}

.routs__title {
    position: relative;
    font-size: 32px;
    color: var(--orange);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.routs__link {
    position: relative;
    min-width: 200px;
    padding: 12px 40px;
    background-color: #ffffff;
    color: var(--green);
    font-size: 22px;
    border: 2px solid var(--green);
    border-radius: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.routs .title-section {
    margin-bottom: 90px;
}
/* routs end */

/* FRONT-PAGE END*/

/* BOOKING-PAGE */
.container_form {
    max-width: 1000px;
    margin: 0 auto 100px auto;
}

.form_title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* letter-spacing: 0.01em; */
    color: var(--titles);
}

.form-booking {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    border-radius: 20px;
}

.field {
    margin-bottom: 18px;
}

.input {
    background: #f2f2f2;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 20px;
}

textarea {
    resize: vertical;
    font-size: 20px;
}

.label span,
.radio span{
    color: #bdbdbd;
    font-weight: bold;
}

.field-group {
    display: flex;
    justify-content: space-between;
}

.field-group label,
.radio-group {
    width: calc(100% / 2 - 40px);
}

textarea {
    margin-top: 10px;
}

.radio {
    display: flex;
    justify-content: space-between;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

form .order-btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 90px;
}

select {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    background: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-size: 20px;
}
/* BOOKING-PAGE END */

/* ABOUT-PAGE */
.about-main .about-text {
    font-size: 22px;
}

.about-main .item-title {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    /* letter-spacing: 0.01em; */
    font-weight: bold;
}
/* about */
.about {
    margin-bottom: 90px;
}

.container_about {
    display: flex;
}

.about-item_services {
    flex: 1;
    margin-right: 170px;
}

.about-item_methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.about-item_methods .about-text {
    margin-bottom: 5px;
}

.about-item_methods .about-text a {
    text-decoration: underline;
}

.about-item_methods .messengers {
    margin-top: 15px;
    margin-bottom: 30px;
}

.about-item {
    color: #27323a;
}

.about-item .about-text p {
    margin-bottom: 25px;
    line-height: 1.5;
}

.about-phones {
    margin-bottom: 40px;
}

.about-phones .phones__item {
    display: block;
    font-size: 32px;
    color: var(--titles);
    font-weight: bold;
}

.phones-block .phones__item,
.tabs-header__item {
    border-bottom: 2px solid var(--orange);
}

.about-social {
    margin-top: 15px;
    margin-bottom: 30px;
}

.about-social .social__link_vk {
    background-image: url(./img/icons/social/icon-vk.svg);
}

.about-social .social__link_facebook {
    background-image: url(./img/icons/social/icon-facebook.svg);
}

.about-social .social__link_instagram {
    background-image: url(./img/icons/social/icon-instagram.svg);
}

.about-social .social__link_twitter {
    background-image: url(./img/icons/social/icon-twitter.svg);
}

.about-social .social__link_youtube {
    background-image: url(./img/icons/social/icon-youtube.svg);
}
/* about end */

/* transfer */

.transfer {
    color: #4f4f4f;
}

.transfer .item-title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.transfer-img {
    width: 640px;
    border: 1px solid red;
}

.wrapper-transfer {
    display: flex;
}

/* transfer end */
/* ABOUT-PAGE END */

/* MEDIA QUERY */

@media (max-width: 1439px) {
    .header-contact-menu {
        justify-content: space-between;
        flex: 1;
    }

    .logo {
        margin-right: 30px;
    }

    .phones_header {
        margin-left: 0;
    }

    .nav {
        margin-left: 25px;
    }

    .booking p {
        font-size: 24px;
        line-height: 36px;
    }

    /* booking page */
    .container_form {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-booking {
        font-size: 16px;
    }

    .input {
        font-size: 16px;
    }
    /* booking page end */

}

@media (max-width: 992px) {
    .phones_header .phones__item {
        display: block;
        margin-bottom: 7px;
    }

    .header-page .messengers .messengers__item {
        margin-right: 15px;
    }

    .phones_header .phones__item:first-child {
        margin-right: 0;
    }

    .phones_header .phones__item:last-child {
        margin-bottom: 0;
    }

    .booking .phones__item {
        font-size: 1.5rem;
        line-height: 32px;
    }

    .footer-menu li {
        font-size: 14px;
        line-height: 14px;
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .hero {
        min-height: 330px;
        padding-bottom: 20px;
        background-image: url(./img/bg-hero-tablet.jpg);
    }

    .main-title {
        display: flex;
        flex-direction: column;
    }

    .main-title span {
        font-size: 30px;
        line-height: 40px;
    }

    .phones-block {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .phones-block .phones__icon {
        width: 30px;
        height: 30px;
        margin: 0 7px;
    }

    .tabs-content {
        margin-bottom: 60px;
    }

    .booking {
        padding-bottom: 20px;
        background-image: url(./img/bg-booking-front-tablet.jpg);
        margin-bottom: 60px;
    }

    .booking p {
        font-size: 22px;
        line-height: 32px;
        font-weight: normal;
    }

    .booking .booking__online {
        margin-bottom: 30px;
    }

    .booking .phones__item {
        font-size: 24px;
        line-height: 34px;
        margin-top: 15px;
    }

    .booking .order-btn {
        margin-top: 15px;
    }

    .booking .booking__call {
        margin-bottom: 0;
    }

    .booking .booking__slogan {
        margin-bottom: 15px;
    }

    .title-section {
        font-size: 28px;
        line-height: 38px;
        /* letter-spacing: 0.01em; */
    }

    .rates .title-section {
        text-align: center;
    }

    .tabs {
        display: block;
    }

    .tabs-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 45px;
    }

    .tabs-header__item {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 45px;
    }

    .tabs-content__title {
        font-size: 50px;
        line-height: 50px;
        text-align: right;
        -webkit-text-stroke-width: 2px;
        letter-spacing: 0.04em;
        margin-bottom: 0;
    }

    .tabs-features__text {
        font-size: 14px;
        line-height: 14px;
    }

    .list_features {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .tabs-features {
        justify-content: flex-end;
    }

    .features .list__item {
        width: calc(100% / 2 - 50px);
        margin-bottom: 30px;
        /* margin-left: 20px;
        margin-right: 20px; */
        padding-left: 15px;
        padding-right: 15px;
    }

    .list_routs {
        justify-content: center;
    }

    .list_routs .list__item {
        width: calc(100% / 2 - 30px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        min-height: 250px;
    }

    .tabs-wrapper .routs__link {
        display: block;
        margin: auto;
        width: 240px;
        background: radial-gradient(50% 50% at 50% 50%, #02861f 28.65%, #016f19 100%), rgba(2, 134, 31, 0.8);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        color: #ffffff;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        font-size: 20px;
        /* letter-spacing: 0.01em; */
        text-align: center;
    }

    .wrapper-list-services {
        padding: 0 45px;
    }

    .routs__title {
        font-size: 28px;
    }
    .features,
    .routs .title-section {
        margin-bottom: 60px;
    }

    .routs {
        padding-bottom: 70px;
    }

    .features__icon,
    .features__title {
        margin-bottom: 20px;
    }

    .features__title {
        font-size: 22px;
        line-height: 32px;
    }

    .list__desc {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.01em;
        font-family: 'Montserrat Alternates'; 
    }

    .footer-page h3,
    .email-footer,
    .email-footer a {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        font-family: 'Roboto';
    }

    .email-footer {
        font-weight: bold;
    }

    .phohes_footer {
        font-weight: bold;
        margin-bottom: 20px;
        font-family: 'Roboto';
    }

    .wrapper-list-services .list__item {
        font-size: 16px;
        line-height: 26px;
        padding-left: 25px;
    }

    .wrapper-list-services .list__item::before {
        width: 15px;
        height: 15px;
    }
    .footer-page .title-section,
    .phones-title,
    .email-footer,
    .social-title {
        margin-bottom: 20px;
    }

    .list_social .social__link {
        width: 28px;
        height: 20px;
    }

    .list_social .list__item,
    .law a:first-child {
        margin-right: 20px;
    }

    .copyright {
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        line-height: 12px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .copyright .author {
        margin-top: 10px;
    }

    .law {
        margin-bottom: 15px;
    }

    .footer-menu {
        margin-bottom: 40px;
    }

    .law {
        margin-bottom: 25px;
    }

    /* booking page */
    .container_form {
        margin: 0 auto 60px auto;
    }

    form .order-btn {
        margin-top: 40px;
    }
    /* booking page end */
}

@media (max-width: 700px) {

    .booking__call {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 640px) {
    .wrapper-list-services {
        flex-wrap: wrap;
    }

    .wrapper-list-services .wrapper__item {
        width: 100%;
    }

    .wrapper__item:first-child {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .servises .sub-title {
        display: block;
    }

    .features .list__item {
        width: 100%;
    }

    .list_routs .list__item {
        width: 100%;
    }
    .booking {
        margin-bottom: 60px;
    }

    .booking p {
        font-size: 20px;
    }

    .routs__img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .footer-menu {
        display: none;
    }

    /* booking page */
    .field-group,
    .radio {
        flex-wrap: wrap;
    }

    .field-group label, .radio-group {
        width: 100%;
        margin-bottom: 20px;
    }
    /* booking page end */
}

@media (max-width: 480px) {
    .messengers_header,
    .booking .booking__slogan,
    .booking .booking__online,
    .footer-menu {
        display: none;
    }

    .header-contact-menu {
        flex: none;
    }

    .phones-block {
        font-size: 14px;
    }

    .list_features,
    .list_routs {
        display: block;
    }

    .nav {
        margin-left: 0;
    }

    .main-title {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 4px;
    }

    .main-title span {
        font-size: 18px;
        font-weight: normal;
    }

    .hero {
        min-height: 170px;
        padding-bottom: 0;
    }

    .title-section {
        font-size: 24px;
        line-height: 29px;
    }

    .tabs-header__item {
        font-size: 16px;
        line-height: 20px;
    }

    .tabs-content__title {
        font-size: 36px;
        line-height: 46px;
        text-align: center;
    }

    .tabs-features__text {
        font-size: 10px;
        line-height: 12px;
    }

    .booking a {
        text-decoration: none;
    }

    .routs .title-section {
        max-width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }

    .rates .routs__link {
        width: 170px;
    }

    .features__icon,
    .features__title {
        margin-bottom: 10px;
    }

    .list_routs .list__item {
        margin-left: 0;
        margin-right: 0;
    }

    .features .list__item {
        width: 100%;
    }

    .footer-page h3,
    .email-footer,
    .email-footer a {
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
    }

    .email-footer a {
        font-style: italic;
    }

    .phones-title,
    .phohes_footer,
    .email-footer,
    .social-title {
        margin-bottom: 20px;
    }

    .email-footer,
    .phohes_footer {
        display: flex;
        flex-direction: column;
    }

    .footer-social,
    .law {
        margin-bottom: 40px;
    }
}

@media (max-width: 375px) {
    
}


